.homeApp {
  color: #00335A;
}
.App-header {
  background-color: #00335A;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
}

.text-color {
  color: #EEBC4C;
}

.img {
  vertical-align: middle;
  border-style: none;
  width: 200px;
}

.background {
  background-size: cover;
}

.text-style {
  position:absolute;
  top: 30%;
  left: 25%;
}

body {
  background-color: #f6f9fb!important;
}
.text-small {
  font-size: 0.9rem;
}
.rounded {
  border-radius: 1rem;
}