.homeApp {
  color: #00335a;
}
.App-header {
  background-color: #00335a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(9px + 2vmin);
}
.App-footer {
  background-color: #00335a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(3px + 2vmin);
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

.text-color {
  color: #eebc4c;
}

.img {
  vertical-align: middle;
  border-style: none;
  width: 200px;
}

.bgimage {
  width: 100%;
  height: 500px;
  background-image: url("./assets/Img/hero3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background {
  background-size: cover;
}

.text-style, .text-style:visited, .text-style:link {
  top: 50%;
  color: #eebc4c;
  text-align: center;
}

body {
  background-color: #f6f9fb !important;
}
.text-small {
  font-size: 0.9rem;
}
.rounded {
  border-radius: 1rem;
}

.uploadPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.align {
  align-items: center;
}

.price-align {
  text-align: right;
}
.header-center {
  text-align: center;
}
.header-left {
  text-align: left;
}
td, th {
  text-align: center;
  vertical-align: middle;      
}

.App-footer footer a, .App-footer footer a:hover, .App-footer footer a:visited {
  text-decoration: none;
  color: #eebc4c;
}